<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="stylesheets/screen.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<!-- <script src="jquery.min.js"></script>
<script src="backbone.min.js"></script> -->
<script src="minbox.js"></script>
<script src="router.js"></script>
<script src="model.js"></script>
<script src="collection.js"></script>
<script src="view.js"></script>

<script id="template" type="text/template">
  <header>Take a look at this lovely <%= name %></header>
  <ul>
  <% _.each(models, function(model, i) { %>
    <% if (i % 4 === 0) { %>
      <% var location = "http://stage.minbox.com/" + model.get('urls').large; %>
      <li class="gallery_image">
        <img src="<%= location %>" />
        <span class="img_info"><%= model.get('display_name') %></span>
      </li>
    <% } %>
  <% }) %>
  </ul>
</script>

<title></title>
</head>
<body>
  <div id="main">Loading...</div>
</body>
<script type="text/javascript">
   
  (function(){
    Minbox.initialize();
  })();

  $('.gallery_image').on('touchstart', function(){
    // $(this).find('.img_info').is(:visible)
  })
</script>
</html>